<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket Booking - AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
        .highlight { background-color: yellow; }
    </style>
</head>
<body ng-app="movieApp" ng-controller="MovieController">

    <h2>Movie Ticket Booking</h2>

    <!-- Search Filter -->
    <input type="text" ng-model="searchText" placeholder="Search Movies..." ng-focus="onFocus()" ng-blur="onBlur()">
    <p>{{ message }}</p>

    <!-- Movie List -->
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Language</th>
            <th>Format</th>
            <th>Price ($)</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="movie in movies | filter:searchText | orderBy:'title'">
            <td ng-mouseover="highlight($index)" ng-mouseleave="removeHighlight($index)" ng-class="{'highlight': selectedIndex === $index}">
                {{ movie.title }}
            </td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.language }}</td>
            <td>{{ movie.format }}</td>
            <td>{{ movie.price | currency }}</td>
            <td>
                <button ng-click="bookTicket(movie)">Book</button>
            </td>
        </tr>
    </table>

    <h3>Selected Movie: {{ selectedMovie.title }}</h3>

    <script>
        var app = angular.module("movieApp", []);

        app.controller("MovieController", function($scope, $http) {
            $scope.movies = [];
            $scope.selectedMovie = {};
            $scope.selectedIndex = null;
            $scope.message = "";

            // Load JSON data
            $http.get("movies.json").then(function(response) {
                $scope.movies = response.data;
            });

            // ng-click: Book Ticket
            $scope.bookTicket = function(movie) {
                $scope.selectedMovie = movie;
                alert("You have booked a ticket for " + movie.title);
            };

            // ng-focus: Search box focus
            $scope.onFocus = function() {
                $scope.message = "Start typing to search for a movie...";
            };

            // ng-blur: Search box loses focus
            $scope.onBlur = function() {
                $scope.message = "";
            };

            // ng-mouseover: Highlight row
            $scope.highlight = function(index) {
                $scope.selectedIndex = index;
            };

            // ng-mouseleave: Remove highlight
            $scope.removeHighlight = function() {
                $scope.selectedIndex = null;
            };
        });
    </script>

</body>
</html>
