body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', serif;
    background-color: #121212;
    color: #ffffff;
    overflow: hidden;
}

:root {
    --selected: rgb(255, 203, 5);
    --disabled: rgb(180, 180, 180);
    --rows: 22;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}
.tickets {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    font-family: 'DM Sans', serif;
    background: rgb(20, 27, 37);
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.ticket-selector {
    background: rgb(10, 40, 50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 0.1px solid #fff;
    margin-bottom: 30px;
}

.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.title {
    font-size: 16px;
    font-weight: 600;
}

.head h1 {
    margin-bottom: 0;
    text-align: center;
}

.head p {
    margin-top: 0;
    text-align: center;
}

.seats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    position: relative;
}
/* seat hover */
.seat:hover {
    outline: 1px solid var(--selected);
}

.status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* Screen */
.seats::before {
    content: "";
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 620px;
    height: 7px;
    background: rgb(141, 198, 255);
    border-radius: 0 0 3mm 3mm;
    border-top: 0.3mm solid rgb(180, 180, 180);
}
/* style for the screen */
.seats::after {
    content: "SCREEN THIS WAY";
    position: absolute;
    bottom: -25px;
}

.item {
    margin-top: 10px;
    font-size: 12px;
    position: relative;
}
/* available info */
.item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: #2c2c2c;
    outline: 0.2mm solid rgb(120, 120, 120);
    border-radius: 0.3mm;
}
/* booked info */
.item:nth-child(2)::before {
    background: var(--disabled);
    outline: none;
}

/* selected info */
.item:nth-child(3)::before {
    background: var(--selected);
    outline: none;
}
/* all seats in a grid container */
.all-seats {
    display: grid;
    grid-template-columns: repeat(var(--rows), 1fr);
    grid-gap: 15px;
    margin: 60px 0;
    margin-top: 20px;
    position: relative;
}
/* seats alphabets syling*/
.seatAlpha {
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 18px;
    padding: 2px;
}
/*  individual Seats */
.seat {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c2c2c;
    border-radius: 5px;
    outline: 2px solid var(--disabled);
    font-size: 14px;
    color: white;
    cursor: pointer;
}
/* booked seats style */
.seat.booked {
    background: var(--disabled);
    outline: none;
    cursor: not-allowed;
}

.seat::selection {
    display: none;
}

.all-seats input:checked + label {
    background: var(--selected);
    outline: none;
    color: black;
}

.all-seats input:checked + label.booked {
    background: var(--disabled); /* Keep the booked color */
    outline: none;
    color: black; /* Ensure the text color remains consistent */
}

input {
    display: none;
}

.timings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

h2 {
    text-align: left;
}

.dates {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dates-item {
    width: 50px;
    height: 40px;
    background: #3c3c3c;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 2mm;
    cursor: pointer;
}

.day {
    font-size: 12px;
}

.times {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.time {
    font-size: 14px;
    width: fit-content;
    padding: 7px 14px;
    background: #3c3c3c;
    border-radius: 2mm;
    cursor: pointer;
}

.timings input:checked + label {
    background: var(--selected);
    color: black;
}

.price {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px;
    margin-top: 50px;
    background-color: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

.total span {
    font-size: 11px;
    font-weight: 400;
}

.price button {
    background: var(--selected);
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 40px;
    border-radius: 2mm;
    outline: none;
    border: none;
    cursor: pointer;
}
.price button:hover {
    opacity: 0.8;
}
.hr-divider {
    grid-column: span var(--rows); /* Span the full width of the grid */
    height: 2px;
    background-color: #28b978; /* Set color of the divider */
    border: none;
    margin: 0;
}

.disabled {
    background: var(--disabled);
    outline: none;
    cursor: not-allowed;
}

dialog {
    background-color: white;
    outline: none;
    border-radius: 10px;
    width: 60%;
    height: 65%;
    top: 10%;
    position: fixed;
    padding-bottom: 60px;
    overflow: hidden;
}
.background-blur {
    background-color: rgba(0, 0, 0, 0.852);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}
dialog h1 {
    text-align: center;
}
dialog ol {
    font-size: 14px;
    overflow: auto;
}
dialog .buttons-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
dialog button:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(15px);
    color: black;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}
dialog button:last-child {
    background-color: gold;
    color: black;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    body {
        overflow: scroll;
    }
    header {
        flex-direction: row-reverse;
        padding: 10px;
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav a {
        margin: 10px 10px;
    }
    .ticket-selector {
        padding: 10px;
    }
    .head {
        flex-direction: row;
        text-align: center;
    }
    .seats {
        margin-right: 30px;
    }
    .seats::before {
        width: 90%;
    }
    .all-seats {
        width: 100%;
        overflow-x: scroll;
        padding: 10px 0%;
        margin:0px 20% 60px 20%;
    }
    .seat {
        width: 30px;
        height: 30px;
    }
    .dates-container{
        width: 100%;
    }
    .dates {
        flex-direction: row;
        align-items: center;
        overflow-x: scroll;
        width: 100%;
    }
    .dates-item {
        width: 100%;
        height: 30px;
        padding: 20px;
        margin-right: 10px;
    }
    .times {
        overflow-x: scroll;
        flex-direction: row;
        align-items: center;
    }
    .time {
        width: 100%;
        margin: 5px 10px;
        
    }
    .price {
        flex-direction: column;
        align-items: center;
    }
    .price button {
        width: 80%;
        margin-top: 10px;
    }
    dialog {
        width: 90%;
        overflow-y: scroll;
        height: auto;
        top: 5%;
    }
    .dialog-content {
        width: 100%;
    }
}
